@font-face {
  font-family: 'Suisse Mono';
  src: url('./fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Tiny 5x3 140';
  src: url('./fonts/TINY5x3-140.woff2') format('woff2');
  font-weight: 140;
}


@font-face {
  font-family: 'Tiny 5x3 120';
  src: url('./fonts/TINY5x3-120.woff2') format('woff2');
  font-weight: 120;
}

